pollinterval = 1
maxretry = 3

[CyberPower700]
        driver = "usbhid-ups"
        port = "auto"
        vendorid = "0764"
        productid = "0601"
        product = "OR700LCDRM1Ua"
        serial = "GA5KU2001352"
        vendor = "CPS"
        bus = "003"
[CyberPower2200]
        driver = "usbhid-ups"
        port = "auto"
        vendorid = "0764"
        productid = "0601"
        product = "OR2200PFCRT2U"
        vendor = "CPS"
        bus = "003"
